<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="navbar"
     class="navbar navbar-expand-lg navbar-dark sticky-top shadow-sm"
     style="background:#121310;">
    <div class="container">

        <a class="navbar-brand fw-bold" th:href="@{/}" style="color:#ffffff;">
            LorArch
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar"
                aria-controls="mainNavbar" aria-expanded="false" aria-label="Alternar navegação">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/}" style="color:#e9ecef;">Início</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/motos}" style="color:#e9ecef;">Motos</a>
                </li>
            </ul>

            <div class="d-flex align-items-center gap-2">
                <a th:href="@{/motos/nova}" class="btn btn-sm fw-semibold"
                   style="background:#5F9982; color:#ffffff; border:1px solid #4b7a68; border-radius:10px;">
                    + Nova moto
                </a>

                <a th:href="@{/login}" class="btn btn-sm"
                   style="background:transparent; color:#e9ecef; border:1px solid #5F9982; border-radius:10px;">
                    Login
                </a>
                <a th:href="@{/register}" class="btn btn-sm fw-semibold"
                   style="background:#5F9982; color:#ffffff; border:1px solid #4b7a68; border-radius:10px;">
                    Criar conta
                </a>

            </div>
        </div>
    </div>
</nav>
</body>
</html>
